.photo-grid__item {
  width: 100%;
  -webkit-transition: -webkit-box-shadow .4s ease-in-out;
  transition: -webkit-box-shadow .4s ease-in-out;
  -o-transition: box-shadow .4s ease-in-out;
  transition: box-shadow .4s ease-in-out;
}

.photo-grid__item:hover {
  -webkit-box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}
