.footer__link {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  -webkit-transition: opacity .4s ease;
  -o-transition: opacity .4s ease;
  transition: opacity .4s ease;
}

.footer__link:not(:last-of-type) {
  margin-right: 18px;
}

.footer__link:hover {
  cursor: url(../../../images/Pointer.svg), pointer;
  opacity: .4;
}

@media screen and (max-width: 768px) {
  .footer__link {
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
    margin-right: 0;
  }
  .footer__link:not(:last-of-type) {
    margin-bottom: 32px;
  }
}

